__pycache__
local_*
inpainted
mask
result
data/models
data/testpacks/eng_dontupload
data/testpacks/testpacks
data/*.png
data/testpacks
config/textstyles
release
libs
icons
.btrans_cache
Lib
lib
Lib/site-packages/tests
Lib/site-packages
Lib/site-packages/ultralytics
tmp.py
dummy_scripts.py
scripts


alphabet-all-*
*gitpython
PortableGit
test_dir
tmp
logs
ballontrans_pylibs_win
config/config.json
localtmp*

.vscode
.VSCodeCounter
.idea
*.zip
*.ipynb
*.dll
*.so
*.docx
*.doc
*.pt
*.ckpt
*.onnx
*.7z
venv
pip
.DS_Store
*.dic
*.aff
*.exc
*.md
*.svg

fonts/*
!fonts/put fonts here.txt

#venv and autoinstaller folders
aria2c
python
git
modules/experiments
update_git.bat
launch_win_venv.bat
install_venv.bat
install-BT.cmd
download_models.bat
Ultralytics/settings.json
Lib/site-packages/tests/__init__.py
Lib/site-packages/tests/conftest.py
Lib/site-packages/tests/test_cli.py
Lib/site-packages/tests/test_cuda.py
Lib/site-packages/tests/test_engine.py
Lib/site-packages/tests/test_exports.py
Lib/site-packages/tests/test_integrations.py
Lib/site-packages/tests/test_python.py
Lib/site-packages/tests/test_solutions.py
Lib/site-packages/ultralytics/__init__.py
Lib/site-packages/ultralytics/cfg/__init__.py
Lib/site-packages/ultralytics/cfg/default.yaml
Lib/site-packages/ultralytics/cfg/datasets/african-wildlife.yaml
Lib/site-packages/ultralytics/cfg/datasets/Argoverse.yaml
Lib/site-packages/ultralytics/cfg/datasets/brain-tumor.yaml
Lib/site-packages/ultralytics/cfg/datasets/carparts-seg.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco-pose.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco8-pose.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco8-seg.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco8.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco128-seg.yaml
Lib/site-packages/ultralytics/cfg/datasets/coco128.yaml
Lib/site-packages/ultralytics/cfg/datasets/crack-seg.yaml
Lib/site-packages/ultralytics/cfg/datasets/dog-pose.yaml
Lib/site-packages/ultralytics/cfg/datasets/dota8.yaml
Lib/site-packages/ultralytics/cfg/datasets/DOTAv1.5.yaml
Lib/site-packages/ultralytics/cfg/datasets/DOTAv1.yaml
Lib/site-packages/ultralytics/cfg/datasets/GlobalWheat2020.yaml
Lib/site-packages/ultralytics/cfg/datasets/hand-keypoints.yaml
Lib/site-packages/ultralytics/cfg/datasets/ImageNet.yaml
Lib/site-packages/ultralytics/cfg/datasets/lvis.yaml
Lib/site-packages/ultralytics/cfg/datasets/medical-pills.yaml
Lib/site-packages/ultralytics/cfg/datasets/Objects365.yaml
Lib/site-packages/ultralytics/cfg/datasets/open-images-v7.yaml
Lib/site-packages/ultralytics/cfg/datasets/package-seg.yaml
Lib/site-packages/ultralytics/cfg/datasets/signature.yaml
Lib/site-packages/ultralytics/cfg/datasets/SKU-110K.yaml
Lib/site-packages/ultralytics/cfg/datasets/tiger-pose.yaml
Lib/site-packages/ultralytics/cfg/datasets/VisDrone.yaml
Lib/site-packages/ultralytics/cfg/datasets/VOC.yaml
Lib/site-packages/ultralytics/cfg/datasets/xView.yaml
Lib/site-packages/ultralytics/cfg/models/11/yolo11-obb.yaml
Lib/site-packages/ultralytics/cfg/models/11/yolo11-pose.yaml
Lib/site-packages/ultralytics/cfg/models/11/yolo11-seg.yaml
Lib/site-packages/ultralytics/cfg/models/12/yolo12-cls.yaml
Lib/site-packages/ultralytics/cfg/models/12/yolo12-obb.yaml
Lib/site-packages/ultralytics/cfg/models/12/yolo12-pose.yaml
Lib/site-packages/ultralytics/cfg/models/12/yolo12-seg.yaml
Lib/site-packages/ultralytics/cfg/models/rt-detr/rtdetr-l.yaml
Lib/site-packages/ultralytics/cfg/models/rt-detr/rtdetr-resnet50.yaml
Lib/site-packages/ultralytics/cfg/models/rt-detr/rtdetr-resnet101.yaml
Lib/site-packages/ultralytics/cfg/models/rt-detr/rtdetr-x.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10b.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10l.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10m.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10n.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10s.yaml
Lib/site-packages/ultralytics/cfg/models/v10/yolov10x.yaml
Lib/site-packages/ultralytics/cfg/models/v3/yolov3-tiny.yaml
Lib/site-packages/ultralytics/cfg/models/v6/yolov6.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-cls-resnet50.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-cls-resnet101.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-ghost-p2.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-ghost-p6.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-ghost.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-obb.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-p2.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-pose-p6.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-rtdetr.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-seg-p6.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-world.yaml
Lib/site-packages/ultralytics/cfg/models/v8/yolov8-worldv2.yaml
Lib/site-packages/ultralytics/cfg/models/v9/yolov9s.yaml
Lib/site-packages/ultralytics/cfg/solutions/default.yaml
Lib/site-packages/ultralytics/cfg/trackers/botsort.yaml
Lib/site-packages/ultralytics/cfg/trackers/bytetrack.yaml
Lib/site-packages/ultralytics/data/__init__.py
Lib/site-packages/ultralytics/data/annotator.py
Lib/site-packages/ultralytics/data/augment.py
Lib/site-packages/ultralytics/data/base.py
Lib/site-packages/ultralytics/data/build.py
Lib/site-packages/ultralytics/data/converter.py
Lib/site-packages/ultralytics/data/dataset.py
Lib/site-packages/ultralytics/data/loaders.py
Lib/site-packages/ultralytics/data/split_dota.py
Lib/site-packages/ultralytics/data/utils.py
Lib/site-packages/ultralytics/engine/exporter.py
Lib/site-packages/ultralytics/engine/model.py
Lib/site-packages/ultralytics/engine/predictor.py
Lib/site-packages/ultralytics/engine/results.py
Lib/site-packages/ultralytics/engine/trainer.py
Lib/site-packages/ultralytics/engine/tuner.py
Lib/site-packages/ultralytics/engine/validator.py
Lib/site-packages/ultralytics/hub/__init__.py
Lib/site-packages/ultralytics/hub/auth.py
Lib/site-packages/ultralytics/hub/session.py
Lib/site-packages/ultralytics/hub/utils.py
Lib/site-packages/ultralytics/hub/google/__init__.py
Lib/site-packages/ultralytics/models/__init__.py
Lib/site-packages/ultralytics/models/fastsam/__init__.py
Lib/site-packages/ultralytics/models/fastsam/model.py
Lib/site-packages/ultralytics/models/fastsam/predict.py
Lib/site-packages/ultralytics/models/fastsam/utils.py
Lib/site-packages/ultralytics/models/fastsam/val.py
Lib/site-packages/ultralytics/models/nas/__init__.py
Lib/site-packages/ultralytics/models/nas/model.py
Lib/site-packages/ultralytics/models/nas/predict.py
Lib/site-packages/ultralytics/models/nas/val.py
Lib/site-packages/ultralytics/models/rtdetr/__init__.py
Lib/site-packages/ultralytics/models/rtdetr/model.py
Lib/site-packages/ultralytics/models/rtdetr/predict.py
Lib/site-packages/ultralytics/models/rtdetr/train.py
Lib/site-packages/ultralytics/models/rtdetr/val.py
Lib/site-packages/ultralytics/models/sam/__init__.py
Lib/site-packages/ultralytics/models/sam/amg.py
Lib/site-packages/ultralytics/models/sam/build.py
Lib/site-packages/ultralytics/models/sam/model.py
Lib/site-packages/ultralytics/models/sam/predict.py
Lib/site-packages/ultralytics/models/sam/modules/blocks.py
Lib/site-packages/ultralytics/models/sam/modules/decoders.py
Lib/site-packages/ultralytics/models/sam/modules/encoders.py
Lib/site-packages/ultralytics/models/sam/modules/memory_attention.py
Lib/site-packages/ultralytics/models/sam/modules/sam.py
Lib/site-packages/ultralytics/models/sam/modules/tiny_encoder.py
Lib/site-packages/ultralytics/models/sam/modules/transformer.py
Lib/site-packages/ultralytics/models/sam/modules/utils.py
Lib/site-packages/ultralytics/models/utils/loss.py
Lib/site-packages/ultralytics/models/utils/ops.py
Lib/site-packages/ultralytics/models/yolo/__init__.py
Lib/site-packages/ultralytics/models/yolo/model.py
Lib/site-packages/ultralytics/models/yolo/classify/predict.py
Lib/site-packages/ultralytics/models/yolo/classify/train.py
Lib/site-packages/ultralytics/models/yolo/classify/val.py
Lib/site-packages/ultralytics/models/yolo/detect/predict.py
Lib/site-packages/ultralytics/models/yolo/detect/train.py
Lib/site-packages/ultralytics/models/yolo/detect/val.py
Lib/site-packages/ultralytics/models/yolo/obb/predict.py
Lib/site-packages/ultralytics/models/yolo/obb/train.py
Lib/site-packages/ultralytics/models/yolo/obb/val.py
Lib/site-packages/ultralytics/models/yolo/pose/__init__.py
Lib/site-packages/ultralytics/models/yolo/pose/predict.py
Lib/site-packages/ultralytics/models/yolo/pose/train.py
Lib/site-packages/ultralytics/models/yolo/pose/val.py
Lib/site-packages/ultralytics/models/yolo/segment/predict.py
Lib/site-packages/ultralytics/models/yolo/segment/train.py
Lib/site-packages/ultralytics/models/yolo/segment/val.py
Lib/site-packages/ultralytics/models/yolo/world/train_world.py
Lib/site-packages/ultralytics/models/yolo/world/train.py
Lib/site-packages/ultralytics/nn/__init__.py
Lib/site-packages/ultralytics/nn/autobackend.py
Lib/site-packages/ultralytics/nn/tasks.py
Lib/site-packages/ultralytics/nn/modules/__init__.py
Lib/site-packages/ultralytics/nn/modules/activation.py
Lib/site-packages/ultralytics/nn/modules/block.py
Lib/site-packages/ultralytics/nn/modules/conv.py
Lib/site-packages/ultralytics/nn/modules/head.py
Lib/site-packages/ultralytics/nn/modules/transformer.py
Lib/site-packages/ultralytics/nn/modules/utils.py
Lib/site-packages/ultralytics/solutions/__init__.py
Lib/site-packages/ultralytics/solutions/ai_gym.py
Lib/site-packages/ultralytics/solutions/analytics.py
Lib/site-packages/ultralytics/solutions/distance_calculation.py
Lib/site-packages/ultralytics/solutions/heatmap.py
Lib/site-packages/ultralytics/solutions/instance_segmentation.py
Lib/site-packages/ultralytics/solutions/object_blurrer.py
Lib/site-packages/ultralytics/solutions/object_counter.py
Lib/site-packages/ultralytics/solutions/object_cropper.py
Lib/site-packages/ultralytics/solutions/parking_management.py
Lib/site-packages/ultralytics/solutions/queue_management.py
Lib/site-packages/ultralytics/solutions/region_counter.py
Lib/site-packages/ultralytics/solutions/security_alarm.py
Lib/site-packages/ultralytics/solutions/solutions.py
Lib/site-packages/ultralytics/solutions/speed_estimation.py
Lib/site-packages/ultralytics/solutions/streamlit_inference.py
Lib/site-packages/ultralytics/solutions/trackzone.py
Lib/site-packages/ultralytics/solutions/vision_eye.py
Lib/site-packages/ultralytics/trackers/__init__.py
Lib/site-packages/ultralytics/trackers/basetrack.py
Lib/site-packages/ultralytics/trackers/bot_sort.py
Lib/site-packages/ultralytics/trackers/byte_tracker.py
Lib/site-packages/ultralytics/trackers/track.py
Lib/site-packages/ultralytics/trackers/utils/gmc.py
Lib/site-packages/ultralytics/trackers/utils/kalman_filter.py
Lib/site-packages/ultralytics/trackers/utils/matching.py
Lib/site-packages/ultralytics/utils/__init__.py
Lib/site-packages/ultralytics/utils/autobatch.py
Lib/site-packages/ultralytics/utils/benchmarks.py
Lib/site-packages/ultralytics/utils/checks.py
Lib/site-packages/ultralytics/utils/dist.py
Lib/site-packages/ultralytics/utils/downloads.py
Lib/site-packages/ultralytics/utils/errors.py
Lib/site-packages/ultralytics/utils/files.py
Lib/site-packages/ultralytics/utils/instance.py
Lib/site-packages/ultralytics/utils/loss.py
Lib/site-packages/ultralytics/utils/metrics.py
Lib/site-packages/ultralytics/utils/ops.py
Lib/site-packages/ultralytics/utils/patches.py
Lib/site-packages/ultralytics/utils/plotting.py
Lib/site-packages/ultralytics/utils/tal.py
Lib/site-packages/ultralytics/utils/torch_utils.py
Lib/site-packages/ultralytics/utils/triton.py
Lib/site-packages/ultralytics/utils/tuner.py
Lib/site-packages/ultralytics/utils/callbacks/base.py
Lib/site-packages/ultralytics/utils/callbacks/clearml.py
Lib/site-packages/ultralytics/utils/callbacks/comet.py
Lib/site-packages/ultralytics/utils/callbacks/dvc.py
Lib/site-packages/ultralytics/utils/callbacks/hub.py
Lib/site-packages/ultralytics/utils/callbacks/mlflow.py
Lib/site-packages/ultralytics/utils/callbacks/neptune.py
Lib/site-packages/ultralytics/utils/callbacks/raytune.py
Lib/site-packages/ultralytics/utils/callbacks/tensorboard.py
Lib/site-packages/ultralytics/utils/callbacks/wb.py
Lib/site-packages/ultralytics-8.3.90.dist-info/entry_points.txt
Lib/site-packages/ultralytics-8.3.90.dist-info/INSTALLER
Lib/site-packages/ultralytics-8.3.90.dist-info/LICENSE
Lib/site-packages/ultralytics-8.3.90.dist-info/METADATA
Lib/site-packages/ultralytics-8.3.90.dist-info/RECORD
Lib/site-packages/ultralytics-8.3.90.dist-info/REQUESTED
Lib/site-packages/ultralytics-8.3.90.dist-info/top_level.txt
Lib/site-packages/ultralytics-8.3.90.dist-info/WHEEL
scripts/ultralytics.exe
scripts/yolo.exe
icons/add.svg
icons/arrow-left.svg
icons/arrow-right.svg
icons/arrow-small-left.svg
icons/arrow-small-right.svg
icons/bottombar_ocr_activate.svg
icons/bottombar_ocr.svg
icons/bottombar_paintmode_activate.svg
icons/bottombar_paintmode.svg
icons/bottombar_textblock_activate.svg
icons/bottombar_textblock.svg
icons/bottombar_textedit_activate.svg
icons/bottombar_textedit.svg
icons/bottombar_translate_activate.svg
icons/bottombar_translate.svg
icons/case-sensitive.svg
icons/chevron-down.svg
icons/chevron-right.svg
icons/chevron-up.svg
icons/drawingtools_hand_activate.svg
icons/drawingtools_hand.svg
icons/drawingtools_inpaint_activate.svg
icons/drawingtools_inpaint.svg
icons/drawingtools_pen_activate.svg
icons/drawingtools_pen.svg
icons/fontfmt_alignc.svg
icons/fontfmt_alignl.svg
icons/fontfmt_alignr.svg
icons/fontfmt_bold.svg
icons/fontfmt_italic.svg
icons/fontfmt_letterspacing.svg
icons/fontfmt_linespacing.svg
icons/fontfmt_underline.svg
icons/fontfmt_vertical.svg
icons/leftbar_config_activate.svg
icons/leftbar_config.svg
icons/leftbar_imgtrans_activate.svg
icons/leftbar_imgtrans.svg
icons/openbtn_activate.svg
icons/openbtn.svg
icons/regex.svg
icons/save_activate.svg
icons/search_activate.svg
icons/search.svg
icons/showpagelist_activate.svg
icons/showpagelist.svg
icons/titlebar_close.svg
icons/whole-word.svg
